<script src="/assets/deck.js"></script>

<div id='deck'>
  <h1 deck-id=<%= @deck.id %> expansion=<%= @deck.expansion %>><%= @deck.name %></h1>
  <div id='deck-cards'>
    <ul>
      
    </ul>
  </div>
</div>

<div id='player-one'>

</div>

<div id='player-two'>

</div>